[Unit]
Description=Enviro+ Dashboard
After=network.target

[Service]
Type=simple
User=pistrommy
WorkingDirectory=/home/pistrommy/projects/enviroplus
Environment=PYTHONPATH=/home/pistrommy/projects
ExecStart=/home/pistrommy/.virtualenvs/pimoroni/bin/python enviro_dash3.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
